@model RoleViewModel
@{
    ViewData["Title"] = "Edit";
}
<h1>Edit Role</h1>
<hr />
<form method="post" asp-action="Edit" class="mt-4">
    <input asp-for="Id" class="form-control" hidden/>
    <div class="form-group mt-2">
            <label asp-for="Name" class="form-control"></label>
            <input asp-for="Name" class="form-control" />
            <div class="input-group mt-2 justify-content-between">
                <button type="submit" class="btn btn-success m-2">Edit</button>
                <a type="submit" class="btn btn-secondary m-2" asp-action="Index">Back to index</a>
            </div>
    </div>
</form>
